body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
}

.container {
  background-color: #ffffff;
  width: 420px;
  margin: 70px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h2 {
  color: #2a9d8f;
  margin-bottom: 20px;
}

.bloco {
  background-color: #caf0f8;
  padding: 20px;
  border-radius: 15px;
  font-size: 17px;
  line-height: 1.8;
}
